<div class="container">
	<div>
		<h1>How to Travel</h1>
	</div>
<div>
<p class="text-info">
STEP 1
Search
Find the space that's right for you by entering your destination, dates and number of guests on the Airbnb homepage or search page.
</p>
</div>
<div>
<p class="text-info">
STEP 2
Contact
Ask any questions you might have, and confirm availability. We recommend messaging multiple hosts, and we make it easy to reuse the same message. Your personal contact info is kept private until after your reservation has been made to protect your privacy and keep you safe.
</p>
</div>
<div>
<p class="text-info">
STEP 3
Book
Click the 'Book It' button on a listing to send the host a formal reservation request. The host will then have 24 hours to respond. (If the host does not respond in that time, the booking expires.) If you see a listing labeled 'Instant Book,' that means there is no messaging or approval needed. In this case, clicking 'Book It' will confirm your reservation immediately.
</p>
</div>
<div>
	<p class="text-info">
STEP 4
Travel
Your vacation is so close you can almost taste it! But well before you hit the ground, contact your host to confirm arrival times and key exchanges.
</p>
</div>