<div class="container">
	<div class="pos">
		<div class="alg">
			<h1>Sign Up By Entering your Details</h1>
		</div>

		<% form_for @user do |f| %>
		<%= render :partial => "form", :object => f, :locals => { :user => @user } %>
		<div class="pos"><input id="user_submit" class="btn btn-primary" name="commit" type="submit" value="Register"></div>
		<% end %>
	</div>
</div>

