.floating
{
	float:left;
	margin-right: 3%;
}

.mainclass
{
	background-color: white;
	height: 6%;
	width: :100%;
}

.logoclass
{
	margin-right: 3%;
	float: left;
}

.searchbar
{
	float: left;
	padding-top: 1%;
	margin-right: 30%;
}

.spacingg
{
	padding-top: 0.7%;
	margin-right: 2%;
}

.setimg
{
	background-image: url("/images/cover.jpg");
	width: 100%;
	height: 100%;
}

.imgset
{
  background-image: url("/images/dream.jpg");
  background-repeat: no-repeat;
  background-size: 100% 220 %;
  width: 100%;
  height: 190%;
}

.wrd
{
	margin-left: 7%;
	padding-top: 9%;

}

.fl
{
	float: left;
}



html, body, #map-canvas {
        height: 80%;
        margin: 0px;
        padding: 0px
      }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      .pos
      {
        margin-left: 25%;

      }

      .alg
      {
        margin-top: 2%;
        margin-bottom: 4%;
      }

         .pos123
      {
        margin-left: 35%;
        margin-top: 3%;

      }
       .pos2
      {
        margin-left: 10%;

      }





      